  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">トップに戻る</a>
      </p>
      <p>修正削除依頼などございましたら<a href="https://www.takahiro310.com/contact">問い合わせ窓口</a>からお願いします。</p>
      <p>© 2018 takahiro310</p>
    </div>
  </footer>